@{
    ViewData["Title"] = "Teacher Dashboard";
}

<h2>Welcome to Teacher Dashboard</h2>

<ul>
    <li><a asp-controller="Teacher" asp-action="CreateExam" class="btn btn-secondary">Create Exam</a></li>
    <li><a asp-action="CreateTopic" asp-controller="Teacher" class="btn btn-secondary">Create Topic</a></li>
    <li><a asp-action="ExamList" asp-controller="Teacher" class="btn btn-secondary">Exam list</a></li>
    <li><a asp-action="Analytics" asp-controller="Teacher" class="btn btn-secondary">Analytics</a></li>
</ul>
