@model Mcq.Models.LoginViewModel

<div class="container">
    <h2 style="text-align: center;">Login</h2>

    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="validation-message"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="validation-message"></span>
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>

    <div style="margin-top: 20px; text-align: center;">
        <p>Don't have an account? 
            <a asp-action="Index" asp-controller="Register">Register here</a>
        </p>
    </div>
</div>
