@{
    ViewData["Title"] = "Student Dashboard";
}

<h2>Welcome to Student Dashboard</h2>

<ul>
    <li><a asp-controller="Student" asp-action="ExamList" class="btn btn-secondary">Exam List</a></li>
    

</ul>
