@{
    ViewData["Title"] = "Student Dashboard";
}

@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}

<div class="container">
    <h2 class="text-center">Welcome to Student Dashboard</h2>

    <div class="dashboard-links">
        <a asp-controller="Student" asp-action="ExamList" class="btn">Exam List</a>
        <a asp-controller="Student" asp-action="Performance" class="btn">Performance</a>
    </div>
</div>
